{% if not approval %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title> Confirmation d'inscription </title>
	<style type="text/css">@media only screen and (min-device-width: 801px) {.content {width: 800px !important;}}@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {body[yahoo] .buttonwrapper {background-color: transparent!important;} body[yahoo] .button a {background-color: #e05443; padding: 15px 15px 13px!important; display: block!important;}}</style>
</head>
<body yahoo="" bgcolor="#f6f8f1" style="min-width: 100% !important; margin: 0; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 800px !important; max-width: 800px;">
		<tr>
			<td>
				<img style="height: auto; width: 100%;" src="http://localhost/regna/images/shop/bann_migan2.jpg">
			</td>
		</tr>
		<tr>
			<td style="border-bottom-width: 1px; border-bottom-color: #f2eeed; border-bottom-style: solid; padding: 30px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td style="color: #fc7704; text-align: center; font-family: 'Century gothic'; font-size: 50px; line-height: 30px; font-weight: bold; padding-bottom: 30px;" align="center">Confirmation d'inscription</td>
					</tr>
					<tr>
						<td style="color: #4a4a4a; font-family: 'Century gothic'; text-align: justify; font-size: 17px; line-height: 25px; padding: 25px 0;" align="justify">{{ text_welcome }}</td>
					</tr>
					<tr>
						<td style="color: #4a4a4a; font-family: 'Century gothic'; text-align: justify; font-size: 15px; line-height: 25px; padding: 25px 0;" align="justify">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td style="font-weight: bold; color: #fc7704;">{{ group }}</td>
									<td>{{ customer.firstname }} {{ customer.lastname }}</td>
								</tr>
								<tr>
									<td style="font-weight: bold; color: #fc7704;">{{ label_telephone }}</td>
									<td>{{ customer.telephone }}</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="color: #4a4a4a; font-family: 'Century gothic'; text-align: justify; font-size: 16px; line-height: 22px; padding: 25px 0;" align="justify">{{ text_validate }}</td>
					</tr>
					<tr>
						<td style="padding: 20px 0 0;">
							<table bgcolor="#af1212" border="0" cellspacing="0" cellpadding="0" style="background-color: transparent !important;" align="center">
								<tr>
									<td height="45" style="text-align: center; font-size: 16px; font-family: 'Century gothic'; font-weight: normal; font-variant: small-caps; padding: 0 30px;" align="center">
										<a href="{{ lien }}" style="display: block !important; color: #ffffff; text-decoration: none; background-color: #fc7704; padding: 15px 15px 13px;">Confirmer votre inscription</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="border-bottom-width: 1px; border-bottom-color: #f2eeed; border-bottom-style: solid; padding: 30px;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="color: #4a4a4a; font-family: 'Century gothic'; text-align: justify; font-size: 16px; line-height: 22px; padding: 25px 0;" align="justify">{{ text_thanks }}</td>
		</tr>
		<tr>
			<td>
				<img style="height: auto; width: 100%;" src="http://localhost/regna/img/mail_footer.png">
			</td>
		</tr>
	</table>
</body>
</html>

{% else %}
{{ text_approval }}

{{ login }}

{{ text_thanks }}
{{ store }}
{% endif %}