<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: 'Century gothic'; font-size: 14px; color: #000000;">

<div style="width: 680px;"><a href="{{ store_url }}" title="{{ store_name }}">
<img style="height: auto; width: 100%;" src="http://localhost/MIGAN/image/mail_header.jpg"></a>
<br><br>

<p>
<FONT face="Century gothic">
{{ text_received }}
</FONT>
</p>

<p>
<FONT face="Century gothic">
{{ text_total }}
</FONT>
</p>

<p>
<FONT face="Century gothic">
{{ text_credit }}
</FONT>
</p>


<p style="margin-top: 0px; margin-bottom: 20px;">
<img style="height: auto; width: 100%;" src="http://localhost/MIGAN/image/mail_footer.png"></p>

</body>
</html>